<div class="page-header">
    <div>Home/{{page.title | escape }}</div>
    <div class="page-title">{{ page.title | escape }}</div>

</div>


<style>
  .page-header {
    min-height: 350px;
    background-image: url('https://cdn.shopify.com/s/files/1/2556/1050/files/page-banner.jpg?v=1511423575');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-position: center;

  }

  .page-header div {
    font-size: 17px;
  }

  .page-header .page-title {
    margin: 0;
    color: white
  }
  @media screen and (max-width:800px) {
    .page-header{
      background-size: inherit;
    }
    
  }
</style>

{% schema %}

{
"name": "t:sections.main-page.name",
"tag": "section",
"class": "spaced-section"
}

{% endschema %}