<!-- {{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}-->
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }} 


<div class="blog-container">
    {%- render 'blog-sidebare',tags:blog.all_tags-%}

    <div class="blog-items ">
        {%- for article in blog.articles -%}
            <div class="blog-item">
                {%- render 'article-card', article: article -%}
            </div>
        {%- endfor -%}
    </div>
</div>

