.article-template__hero-adapt.media {
  padding-bottom: 41.7%;
  margin-top: 25px;

}

.article-template__hero-adapt.media img {
  display: block;
  max-width: 100%;
  position: absolute;
  left: 137px;
  bottom: 0;
  height: 100%;
  width: 78%;
}

/* //aajdaj */
.article-template>*:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-content {
  overflow: overlay;
  background-color: white;
  width: 43%;
  margin: auto;

  margin-top: -55px;

  position: relative;

  padding: 0px 33px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  border-radius: 4px;
}



.article-template__hero-medium {
  height: 51.6rem;
  margin-top: 49px;
}

.article-template__hero-large {
  height: 19rem;
}



.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
}



.article-template__title {
  margin: 0;
  font-size: 29px
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-underline-offset: 0.3rem;
  background: #56996d;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: 199px;
  padding: 9px 3px;
  /* margin-left: 6px; */
  /* margin-right: 30px; */
  margin: auto;
  margin-bottom: 50px;
}

.article-template__link:hover {
  text-decoration-thickness: 0.2rem;
}

.article-template__link svg {
  width: 1.5rem;
  transform: rotate(180deg);
  margin-right: 1rem;
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin-top: 3rem;
  align-items: center;
}

.article-template__social-sharing .social-sharing {
  margin-left: -1.3rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
}


.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}


.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}


.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields>* {
  margin-bottom: 3rem;
}



.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

.media {
  background: none;
}

/* screens  */

@media only screen and (max-width:1320px) {
  .article-content {
    width: 51%;
  }
}

@media only screen and (max-width:1100px) {
  .article-content {
    width: 61%;
  }

  .article-template__hero-adapt.media img {
    left: 67px;
    width: 89%;
  }

  .page-width--narrow {
    padding: 0 0rem;
  }

  .article-template__title {
    margin: 0;
    font-size: 23px;
  }

}

@media only screen and (max-width:890px) {
  .article-template__hero-adapt.media img {
    left: 0;
    width: 100%;
  }

  .article-content {
    width: 75%;
  }
}

@media only screen and (max-width:600px) {
  .article-template__hero-adapt.media {
    padding-bottom: 60.7%;
  }

  .article-content {
    width: 90%;
  }
}